html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  width: 100%;
}

canvas {
  display: block;
}

.section {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}